body {
    font-family: "Arima Madurai";
    background-color: #F5B358;
    color: #6E9BB8;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Gideon Roman";
    text-align: center;
}

h1 {
    font-size: 40pt;
}

header {
    text-align: center;
}

#hero, footer {
    color: #87D1FF;
    border: 2px solid #43B8FF;
    background-color: #B36F12;
    text-align: center;
    padding: 10px;
}

/* Hero Section */

#hero img {
    width: 300px;
}

/* Bio Section */

#bio {
    text-align: center;
}

/* Hobbies Section */
a {
    text-decoration: none;
}

a:link {
    color: green;
}

a:visited {
    color: white;
}

a:hover {
    color: black;
}

/* Gallery */

#gallery {
    border: 2px solid #43B8FF;
}

#gallery img {
    max-width: 100%;
}

#gallery figure {
    text-align: center;
}